<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.karmats.weatherful"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".provider.ForecastProvider"
            android:authorities="net.karmats.weatherful.provider.ForecastProvider"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
        <provider
            android:name="net.karmats.weatherful.provider.LocationSearchProvider"
            android:authorities="net.karmats.weatherful.provider.LocationSearchProvider"
            android:exported="false" >
        </provider>

        <activity
            android:name=".WeatherfulMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".WeatherfulSearchActivity" />
        </activity>
        <activity
            android:name="net.karmats.weatherful.WeatherfulSearchActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>